.subscribe {
  width: 100%;
  height: 100%;
  background: var(--primary-content-color);
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    .top {
      text-align: center;
      padding-top: 30px;
      .title {
        font-family: 'SF Pro Display';
        font-weight: 800;
        font-size: 24px;
        color: rgba(255, 255, 255, 0.85);
      }

      .desc {
        font-family: 'SF Pro Display';
        font-weight: bold;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.65);
      }
    }

    .subscribeList {
      margin-top: 30px;
      display: flex;

      .item:not(:last-child) {
        margin-right: 24px;
      }

      .item {
        background-color: var(--primary-content-color);
        width: 250px;
        height: 450px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        &:hover{
          .btn{
            background-color: #7451ff;
            // border-style: #2255FF;
            border: 1px solid #7451ff;
            color: #FFFFFF;
          }
        }

        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .headerTitle {
            font-family: 'SF Pro Display';
            font-weight: 400;
            font-size: 12px;
            color: #FFFFFF;
          }

          .popolar {
            // background: rgba(34, 85, 255, 0.1);
            border-radius: 2px;
            padding: 2px 4px;
            font-family: 'DIN Alternate';
            font-weight: 700;
            font-size: 12px;
            color: #7451ff;
          }
          
        }

        .priceInfo {
          margin-top: 12px;


          span {
            font-family: 'DIN Alternate';
            font-style: normal;
            color: rgba(255, 255, 255, 0.85);
          }

          span:first-child {
            font-weight: 700;
            font-size: 48px;
          }

          span:last-child {
            font-weight: 400;
            font-size: 14px;
            margin-left: 8px;
          }
        }

        .descList {
          border-top: 1px solid rgba(0, 0, 0, 0.2);
          flex: 1;
          // padding-top: 16px;
          margin-top: 16px;
          overflow-y: scroll;

          p {
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.85);
            margin: 0;
          }

          p:not(:last-child) {
            margin-bottom: 8px;
          }

        }

        .btn {
          cursor: pointer;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          border: 1px solid rgba(255, 255, 255, 0.65);
          border-radius: 100px;
          font-family: 'SF Pro Display';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          color: rgba(255, 255, 255, 0.85);
        }
        .popolarPlan{
          background-color: #7451ff;
          border: 1px solid #7451ff;
        }
        .currentPlan{
          color: #7451ff;
        }
        

      }
    }
  }
}
.paymentModal {
  :global(.ant-modal-content) {
    padding: 0;
    border-radius: 16px;
  }
  
  :global(.ant-modal-body) {
    padding: 0;
  }
}
.payment {
  width: 100%;
  height: 100%;
  background: var(--primary-content-color);
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;

  .left {
    text-align: center;

    .text {
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      color: rgba(255, 255, 255, 0.85);
    }

    .desc {
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.65);
    }
  }

  .right {
    width: 100%;
    // padding: 54px;
    background: #2D2E30;
    border-radius: 8px;
    margin-left: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      color: rgba(255, 255, 255, 0.85);
    }

    .desc {
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.65);
    }

    .monthsInfo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 18px;

      >span {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.65);
        margin-left: 12px;
      }
    }

    .totalInfo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 18px;
      transform: translateX(14px);

      .total {
        width: 100px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'DIN Alternate';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: rgba(255, 255, 255, 0.85);
        background-color: #222324;
        border-radius: 100px;
      }

      >span {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.65);
        margin-left: 12px;
      }
    }

    .tips {
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.65);
      margin-top: 8px;
    }

    .network {
      .text {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.85);
      }
    }

    .qrcode {
      height: 92px;
      width: 92px;
      padding: 2px;
      background-color: #fff;
      border-radius: 4px;
      margin-top: 12px;
    }
  }
}