.componentWrapper {
  width: 100%;

  .setting {
    display: flex;
    align-items: center;
    color: rgb(194, 118, 26);

    .baseSetting {
      display: flex;
      align-items: center;
      .title {
        color: rgba(182, 178, 178, 0.85);
        font-family: "DIN Alternate";
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        margin-right: 4px;
      }
      > span {
        color: rgba(255, 255, 255, 0.85);
        font-family: "DIN Alternate";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        margin-right: 4px;
      }
    }

    .checkboxGrop {
      display: flex;
      flex-direction: column;
      width: 200px;

      :global {
        .ant-checkbox-wrapper {
          padding: 6px;
        }
      }
    }

    .saveParam {
      margin-left: 24px;
      color: #a0aec0;
      font-size: 12px;
      :global {
        .ant-btn-variant-outlined {
          border-color: none;
        }
        .ant-btn-sm {
          height: 20px;
          padding: 2px 5px; 
        }
      }
    }

    :global {
      .ant-form-item {
        margin-bottom: 0;
      }

      .ant-input {
        font-size: 9px;
      }

      .ant-picker {
        padding: 1px 7px 1px;
      }

      .ant-input-number {
        height: 24px;
      }

      .ant-input-number .ant-input-number-input {
        font-size: 14px;
        text-align: center;
        height: 23px;
        line-height: 23px;
      }
      .fr-form .fr-inline-field .ant-form-item-control {
        width: 120px;
      }
      .fr-form .fr-field input{
        color: rgba(255, 255, 255, 0.85)!important;
      }
      .fr-form .fr-field label,
      .fr-form .fr-field .ant-input ,
      .ant-input-number-handler-up-inner,
      .ant-input-number-handler-down-inner,
      .ant-form-item-tooltip{
        color:  rgba(182, 178, 178, 0.85)!important;
      }
    }
    
  }
 
 
}
