.dataPanel {
  flex: 1;
  position: relative;
  height: calc(100vh - 85px);
  margin-left: 1px;

  .maskBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    
    left: 0;
    top: 20;
  }

  .echartsPanel {
    .setting {
      height: 48px;
      padding: 0 24px;
      display: flex;
      align-items: center;

      .settingTitle {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        margin-left: 8px;
        color: rgba(255, 255, 255, 0.65);
      }
      .baseSettingTitle {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        margin-left: 8px;
        color: rgba(255, 255, 255, 0.65);
      }
    }

    .echartsWrapper {
      height: calc(100vh - 175px);
      margin-top: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
  }
}
