.layout {
  height: "90vh" ;
  background: var(--primary-content-color);

}
.header {
  width: 100%;
  background: var(--primary-content-color);
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
