.payment {
  width: 100%;
  height: 100%;
  background: var(--primary-content-color);
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;

  .left {
    text-align: center;

    .text {
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      color: rgba(255, 255, 255, 0.85);
    }

    .desc {
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.65);
    }
  }

  .right {
    width: 677px;
    padding: 54px;
    background: #2D2E30;
    border-radius: 8px;
    margin-left: 180px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      color: rgba(255, 255, 255, 0.85);
    }

    .desc {
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.65);
    }

    .monthsInfo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 18px;

      >span {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.65);
        margin-left: 12px;
      }
    }

    .totalInfo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 18px;
      transform: translateX(14px);

      .total {
        width: 100px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'DIN Alternate';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: rgba(255, 255, 255, 0.85);
        background-color: #222324;
        border-radius: 100px;
      }

      >span {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.65);
        margin-left: 12px;
      }
    }

    .tips {
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.65);
      margin-top: 8px;
    }

    .network {
      .text {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.85);
      }
    }

    .qrcode {
      height: 92px;
      width: 92px;
      padding: 2px;
      background-color: #fff;
      border-radius: 4px;
      margin-top: 12px;
    }
  }
}