.topInfo {
  height: 36px;
  padding: 0 22px;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: var(--primary-content-color);
  justify-content: space-between;
  align-items: center;

  .info {
    display: flex;
    align-items: center;

    .indicatorItemLevel {
      width: 16px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      margin-right: 8px;
      font-family: "DIN Alternate";
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      border-radius: 2px;
    }
    .indicatorItemLevel0 {
      background: #38393a;
      color: #fff;
    }

    .indicatorItemLevel1 {
      background: #1e2b39;
      color: #007aff;
    }

    .indicatorItemLevel2 {
      background: #272836;
      color: #5f5cf5;
    }

    .title {
      margin-right: 13px;
      font-weight: 600;
      font-size: 14px;
      color: #fff;
    }
  }
}
