:root {
  /* 全局 css 变量 */
  /* 黑色主题 */
  --primary-content-color: #090912;
  /* 主要内容背景暗灰 */
  --primary-theme-color: #030306;
  /* 主要蓝 */
  --primary-blue-color: #7451ff;
  font-family: "SF Pro Display";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary-content-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 滚动条隐藏 */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #2d2e30;
  border-radius: 10px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: slkscr-font;
  src: url("/slkscr.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: local("SF Pro Display"),
    url("/SFPRODISPLAYREGULAR.woff")
      format("woff");
  font-display: swap;
}

/* 全局样式 */
.common-ellipsis-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* antd 样式覆盖 */
.ant-btn-primary {
  background-color: #7451ff !important;
  border-color: #7451ff !important;
  color: #fff !important;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  border-radius: 5px;
}

/* Hover state */
.ant-btn-primary:hover {
  background-color: #8a6eff !important; /* Lighter color */
  border-color: #8a6eff !important;
}

/* Optional focus state for accessibility */
.ant-btn-primary:focus {
  background-color: #8a6eff !important;
  border-color: #8a6eff !important;
}

.ant-input-outlined {
  background: none;
  border-color: rgba(255, 255, 255, 0.1);
}

.ant-btn-variant-outlined {
  border-color: rgba(255, 255, 255, 0.65);
  background: none;
}

.ant-btn {
  font-family: "SF Pro Display";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.85);
}

button:focus,
button:focus-visible {
  outline: none;
}

.ant-form-item
  .ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::before {
  content: "";
}

.ant-collapse {
  background: none;
  border: none;
  border-radius: 0;
}

.ant-collapse .ant-collapse-content {
  background-color: var(--primary-content-color);
}

.ant-collapse > .ant-collapse-item {
  border-bottom: 1px solid var(--primary-content-color);
}

.ant-collapse .ant-collapse-content {
  border-top: none;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 18px 16px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.45);
}

.ant-collapse .ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}

.ant-segmented {
  padding: 4px;
  border-radius: 36px;
  background: var(--primary-content-color);
}

.ant-segmented .ant-segmented-item {
  border-radius: 12px;
  margin: 0 1px;
}

.ant-segmented .ant-segmented-item-label {
  padding: 0 14px;
}

.ant-segmented .ant-segmented-item-selected {
  background: #2e2f30;
}

.ant-segmented
  .ant-segmented-item:hover:not(.ant-segmented-item-selected):not(
    .ant-segmented-item-disabled
  )::after {
  background-color: #2e2f30;
}

.ant-popover .ant-popover-inner {
  background-color: #3a3c3d;
  padding: 16px;
}

.ant-popover .ant-popover-arrow:before {
  background-color: #3a3c3d;
}

.ant-input-number {
  border-radius: 100px;
  height: 44px;
  overflow: hidden;
  background-color: #222324;
  width: 100px;
}

.ant-input-number-outlined:hover {
  background-color: #222324;
}

.ant-input-number .ant-input-number-handler-wrap .ant-input-number-handler {
  border: none;
  font-size: 14px;
  background: #222324;
}

.ant-input-number .ant-input-number-handler-up-inner svg,
.ant-input-number .ant-input-number-handler-down-inner svg {
  transform: scale(1.8);
}

.ant-input-number .ant-input-number-input {
  font-size: 24px;
  text-align: center;
  line-height: 35px;
}

.ant-input-number .ant-input-number-handler-wrap {
  opacity: 1;
  transform: translateX(-9px);
  width: 19px;
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  background-color: transparent;
  border: none !important;
  box-shadow: none !important;
}

.ant-select-selection-item {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}
