:root {
  font-family: "SF Pro Display";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 隐藏滚动条 */

  /* 全局 css 变量 */
  /* 黑色主题 */
  --primary-theme-color: #1c1d1e;
  /* 主要内容背景暗灰 */
  --primary-content-color: #222324;
  /* 主要蓝 */
  --primary-blue-color: #2255ff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: slkscr-font;
  src: url("./assets/slkscr.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: local("SF Pro Display"),
    url("https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYREGULAR.woff")
      format("woff");
  font-display: swap;
}

/* 全局样式 */
.common-ellipsis-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* antd 样式覆盖 */
.ant-input-outlined {
  background: var(--primary-theme-color);
  border-color: rgba(255, 255, 255, 0.1);
}

.ant-btn-variant-outlined {
  border-color: rgba(255, 255, 255, 0.65);
  background: none;
}

.ant-btn {
  font-family: "SF Pro Display";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.85);
}

button:focus,
button:focus-visible {
  outline: none;
}

.ant-form-item
  .ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::before {
  content: "";
}
